@if (Items is null)
{
    <Loader  />
}
else
{
    <div class="carousel h-full">
        @if (Title is not null)
        {
            <h4 class="text-4xl font-semibold tracking-wide text-center">@Title</h4>
        }

        <div class="carousel-items">
            @foreach (var item in Items)
            {
                <!-- Mobile -->
                <div class="carousel-item sm:hidden" style="@GetCss(item, true)" @onclick="(() => SelectItem(item))">
                    <img src="@item.ImageUrl" />
                </div>

                <!-- Desktop -->
                <div class="carousel-item hidden sm:block" style="@GetCss(item, false)" @onclick="(() => SelectItem(item))">
                    <img src="@item.ImageUrl" />
                </div>

            }
        </div>
    </div>
}
