<div class="flex flex-col h-full justify-between">

    <div class="flex flex-col">
        <a href="@Track.Uri" class="font-bold text-lg truncate hover:underline">@Track.Name</a>
        <a href="@Track.Album!.Uri" class="truncate hover:underline">@Track.Album!.Name (@Track.Album!.ReleaseDate)</a>
    </div>

    <div class="h-full max-h-80 overflow-y-scroll pr-2">
        @foreach (var artist in Track.Artists)
        {
            <ArtistCard Artist="artist" />
        }
    </div>    
</div>
