@page "/play-game"
@using Blazored.Typeahead

@if (GameService.Tracks is null)
{
    <Loader LoadText="Tuning the guitar..." />
}
else if (GameService.PlayTrack)
{
    <MusicPlayer @ref="_player" Url="@GameService.CurrentTrack?.PreviewUrl" />

    <BlazoredTypeahead SearchMethod="@SearchService.SearchArtists" Debounce="500" @bind-Value="SelectedArtist" placeholder="Search artists...">
        <SelectedTemplate>
            @context?.Name
        </SelectedTemplate>
        <ResultTemplate>
            @context.Name
        </ResultTemplate>
        <NotFoundTemplate>
            Sorry, there weren't any search results.
        </NotFoundTemplate>
    </BlazoredTypeahead>

    <button disabled="@(GameService.Guessing)" @onclick="(() => GameService.GuessArtist(SelectedArtist!.Id))">
        @(GameService.Guessing ? "Guessing..." : "Guess")
    </button>
}
else
{
    <GuessResult OnContinue="NextTrack" Result="GameService.LastGuessed" />
}
